<h1>Menu</h1>
<ul class="nav nav-pills">
  <% Section.all.each do |section| %>
      <li class="nav-item">

        <%= link_to section.name, menu_path(section: section.name),
                    class: "nav-link #{'active' if params[:section] == section.name}" %>
      </li>
  <% end %>
</ul>
<div class="text-xs-right">
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sort by
    </button>
    <div class="dropdown-menu">
      <%= link_to "Alphabetical", menu_path(sort: "alphabetical", section: params[:section]), class:"dropdown-item" %>
      <%= link_to "Price low to high", menu_path(sort: "price low to high", section: params[:section]), class:"dropdown-item" %>
      <%= link_to "Price high to low", menu_path(sort: "price high to low", section: params[:section]), class:"dropdown-item" %>
    </div>
  </div>
</div>

<%  if @food_items %>
        <% @food_items.each do |food| %>
        <h3><%= food.name %></h3>
       <p><%= food.description %></p>
        <p><%= food.price %></p>
        <img src="<%=food.image_url%>" style="width: 600px; height: 400px">
      <%end%>
<%end%>