<div class="row">
  <h1 class="text-xs-center display-4">Check out</h1>
  <table class="table">
    <thead class="thead-default">
    <tr>
      <th>#</th>
      <th>Dish</th>
      <th style="text-align: right">Price</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @food_items.each_with_index do |food, i|  %>
        <tr>
          <th scope="row"><%= i+1 %></th>
          <td><%= food["name"] %></td>
          <td class="text-xs-right"><%= food["price"] %> Đ</td>
          <td class="text-xs-right"><%= link_to "Remove",remove_order_path(id:i),method: :delete %> </td>
        </tr>
        <% @total_price += food["price"].to_f %>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <th class="text-xs-right">Total Price: <%= @total_price.round(2)%> Đ </th>
    </tr>
    </tbody>
  </table>
</div>
<h2 class="text-xs-center">Your's Information</h2>
<div class="col-xs-12">
  <%= form_for :userorder, url: user_orders_path(order_list: @food_items),
               html: {method: :post } do |f| %>
      <div class="form-group">
        <%= f.label :name,"Name" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :phone_number,"Phone Number" %>
        <%= f.text_field :phone_number , class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.label :address %>
        <%= f.text_area :address, class: "form-control", size: "60x12" %>
      </div>
      <div class="form_group text-xs-center">
        <%= f.submit "Order", class: "btn btn-secondary btn-lg" %>
        <%= link_to "Back", menu_path, class: "btn btn-secondary btn-lg" %>
      </div>
  <% end %>
</div>
<br>
